*~
*.elc
auto-save-list
recentf
savehist
saveplace
eshell
elpa
el-get
semanticdb
url
ede-projects.el
.DS_Store
places
.smex-items
savefile/
/prelude-modules.el
projectile-bookmarks.eld
session*
.cask
tramp
/var/pcache
/.emacs.desktop
/.emacs.desktop.lock
/.python-environments/
/org-clock-save.el
/srecode-map.el
/personal/aspell_feng
/ac-comphist.dat
/personal/custom.el
/.mc-lists.el
