[submodule "elpa"]
	path = elpa
	url = ../elpa.git
[submodule "site-lisp/zenburn-emacs"]
	path = site-lisp/zenburn-emacs
	url = ../zenburn-emacs.git
[submodule "site-lisp/helm-etags-plus"]
	path = site-lisp/helm-etags-plus
	url = https://github.com/zhfe99/helm-etags-plus.git
[submodule "site-lisp/pomodoro"]
	path = site-lisp/pomodoro
	url = https://github.com/baudtack/pomodoro.el
[submodule "site-lisp/dired-hacks"]
	path = site-lisp/dired-hacks
	url = https://github.com/Fuco1/dired-hacks
[submodule "yasnippet-snippets"]
	path = yasnippet-snippets
	url = ../yasnippet-snippets.git
