*~
*.elc
auto-save-list
recentf
savehist
saveplace
eshell
el-get
semanticdb
url
ede-projects.el
.DS_Store
places
.smex-items
savefile/
projectile-bookmarks.eld
session*
.cask
tramp
/var/pcache
/.emacs.desktop
/.emacs.desktop.lock
/.python-environments/
/org-clock-save.el
/srecode-map.el
/ac-comphist.dat
# /personal/custom.el
TAGS
README.md
/image-dired/*
.emacs.desktop
.emacs.desktop.lock
network-security.data
prelude-cheatsheet.el
prelude-cheatsheet.aux
prelude-cheatsheet.log
transient/
var/
.cache/
.lsp-session*
gotools/
eln-cache/
