[submodule "site-lisp/counsel-projectile"]
	path = site-lisp/counsel-projectile
	url = ../counsel-projectile.git
[submodule "site-lisp/zenburn-emacs"]
	path = site-lisp/zenburn-emacs
	url = ../zenburn-emacs.git
[submodule "site-lisp/helm-etags-plus"]
	path = site-lisp/helm-etags-plus
	url = ../helm-etags-plus.git
[submodule "site-lisp/find-file-in-project"]
	path = site-lisp/find-file-in-project
	url = ../find-file-in-project.git
[submodule "site-lisp/emacs-fasd"]
	path = site-lisp/emacs-fasd
	url = ../emacs-fasd.git
[submodule "site-lisp/emacs-counsel-gtags"]
	path = site-lisp/emacs-counsel-gtags
	url = ../emacs-counsel-gtags.git
