[submodule "site-lisp/counsel-projectile"]
	path = site-lisp/counsel-projectile
	url = ../counsel-projectile.git
[submodule "site-lisp/zenburn-emacs"]
	path = site-lisp/zenburn-emacs
	url = ../zenburn-emacs.git
[submodule "site-lisp/helm-etags-plus"]
	path = site-lisp/helm-etags-plus
	url = ../helm-etags-plus.git
